* {
  padding: 0;
  box-sizing: border-box;
  border: 0;
}
.main {
  background-color: hsl(0, 100%, 74%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 500px;
  padding: 40px;
}
h1 {
  text-decoration-color: white;
}
p{
    text-decoration-color: white;

}
 
